// Color

$primaryColor: #00a8ff;
$secondaryColor: #eceeef;
$dangerColor: #fa424a;

$lightColor: #fafafa;
$darkColor: #343434;
$white: #ffffff;

$colors: (
    primary: $primaryColor,
    secondary: $secondaryColor,
    danger: $dangerColor
);