@import 'Variables';

body {
    background-color: $lightColor;
    font-family: 'Montserrat', sans-serif;
}
button, input {
    font-family: 'Montserrat', sans-serif;
}
input {
    border: 1px solid rgba(197, 214, 222, 0.1);
    border-radius: 3px;
    height: 37px;
    &:focus {
        box-shadow: none;
        border-color: rgba(197, 214, 222, 0.7);
        outline: none;
    }
}

a {
    color: #999999;
    text-decoration: none;
    &:hover {
        text-decoration: none;
        color: $primaryColor;
    }
}

$grid-breakpoints: (
    576px,
    768px,
    992px,
    1200px
  );

$container-max-widths: (
    1100px,
    1280px,
    1520px,
    1700px
);

@for $i from 1 through length($grid-breakpoints) {
    @media (min-width: nth($grid-breakpoints, $i)) {
        .container {
            max-width: nth($container-max-widths, $i) !important
        }
    }
}

