body {
  background-color: #fafafa;
  font-family: 'Montserrat', sans-serif; }

button, input {
  font-family: 'Montserrat', sans-serif; }

input {
  border: 1px solid rgba(197, 214, 222, 0.1);
  border-radius: 3px;
  height: 37px; }
  input:focus {
    box-shadow: none;
    border-color: rgba(197, 214, 222, 0.7);
    outline: none; }

a {
  color: #999999;
  text-decoration: none; }
  a:hover {
    text-decoration: none;
    color: #00a8ff; }

@media (min-width: 576px) {
  .container {
    max-width: 1100px !important; } }

@media (min-width: 768px) {
  .container {
    max-width: 1280px !important; } }

@media (min-width: 992px) {
  .container {
    max-width: 1520px !important; } }

@media (min-width: 1200px) {
  .container {
    max-width: 1700px !important; } }
